numpy
numexpr
jupyter
notebook
jupyter_contrib_nbextensions
ipywidgets
scipy
pandas
matplotlib
statsmodels
scikit-learn
seaborn
bokeh
networkx
requests
beautifulsoup4
sqlalchemy
xlrd
protobuf
pygeocoder

